@model IEnumerable<w1.Models.SalesReport>
@{
    ViewBag.Title = "Отчет о продажах";
}

<body>
    <h4>Отчет о продажах</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nomenclature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nomenclature.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
            </tr>
        }

    </table>
</body>